.wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto auto 50px;
    grid-template-areas:
        ". header ."
        ". content .";
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}
